@model ShopApp.WebUI.Models.ProductListModel


<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">Bilim Kurgu</li>
            <li class="list-group-item">Kişisel Gelişim</li>
            <li class="list-group-item">Fantastik</li>
        </ul>
    </div>
    <div class="col-md-3">

        <partial name="_slider" />

        @foreach (var item in Model.Products)
        {
            <p>@item.Name</p>
        }

    </div>
</div>